[data-section='music'] {
  --background: 0, 0%, 100%;
  --foreground: 222, 47%, 11%;
  --muted: 240, 5%, 96%;
  --muted-foreground: 215, 16%, 47%;
  --popover: 0, 0%, 100%;
  --popover-foreground: 222, 47%, 11%;
  --border: 214, 32%, 91%;
  --input: 214, 32%, 91%;
  --card: 0, 0%, 100%;
  --card-foreground: 222, 47%, 11%;
  --primary: 349, 89%, 60%;
  --primary-foreground: 0, 0%, 100%;
  --secondary: 240, 10%, 4%;
  --secondary-foreground: 0, 0%, 98%;
  --accent: 240, 10%, 4%;
  --accent-foreground: 0, 0%, 100%;
  --destructive: 0, 100%, 50%;
  --destructive-foreground: 210, 40%, 98%;
  --ring: 349, 89%, 60%;
  --radius: 0.5rem;
}
.dark [data-section='music'] {
  --background: 223, 70%, 4%;
  --foreground: 214, 30%, 91%;
  --muted: 224, 46%, 11%;
  --muted-foreground: 215, 16%, 57%;
  --accent: 217, 33%, 17%;
  --accent-foreground: 210, 40%, 98%;
  --popover: 223, 70%, 4%;
  --popover-foreground: 215, 20%, 65%;
  --border: 217, 33%, 17%;
  --input: 217, 33%, 17%;
  --card: 223, 70%, 4%;
  --card-foreground: 214, 30%, 91%;
  --primary: 349, 89%, 60%;
  --primary-foreground: 0, 0%, 100%;
  --secondary: 222, 47%, 11%;
  --secondary-foreground: #f8fafc;
  --destructive: 0, 63%, 31%;
  --destructive-foreground: 210, 40%, 98%;
  --ring: 217, 33%, 17%;
  --radius: 0.5rem;
}
